.app__specialMenu {
    background: var(--color-black);
    flex-direction: column;
    width: 100%;
}

.chef__container{
    width:1700px;
    margin:auto;
}

.btn{
    display: flex;
    justify-content:center;
    align-items: center;
}

.app__specialMenu-title{
    margin-bottom: 2rem;
    text-align: center;
    width: 100%;
}

.app__specialMenu-menu{
    width: 100%;
    margin: 2rem 0;
    display:flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: row;
}

.app__specialMenu-menu_heading{
    font-family: var(--font-base);
    font-weight: 600;
    font-size: 45px;
    line-height: 58.5px;
    color: var(--color-white);
}

.app__specialMenu-menu_wine, .app__specialMenu-menu_cocktails{
    flex: 1;
    width: 100%;
    flex-direction: column;
    text-align: left;
    margin-top: 12rem;
}

.app__specialMenu-menu_img{
    width: 410px;
    margin: 0 2rem;

}

.app__specialMenu-menu_img img{
    width: 100%;
    height: auto;
}

.app__specialMenu_menu_items{
    display: flex;
    flex-direction: column;
    margin: 2rem 0;
    width: 100%;
    align-items: center;
    justify-content: center;
}

@media screen and (max-width: 2560px){
    .app__specialMenu-menu_img{
        width: 450px;
    }

    .chef__container{
        width:100%;
        margin:auto;
    }
    

    .app__specialMenu-menu_wine, .app__specialMenu-menu_cocktails{
        text-align: center;
        margin-top: 1rem;
    }

}
@media screen and (max-width: 1440px){
    .chef__container{
        width:100%;
        margin:auto;
    }
}
@media screen and (max-width: 1162px){
    
    .app__specialMenu-menu_img img {
        height: 850px;
    }
}
@media screen and (max-width: 1152px){
    .app__specialMenu-menu{
        flex-direction: column;
        align-items: center;
        width: 100%;
    }

    .app__specialMenu-menu_img {
        margin: 3rem 0;
    }

    .app__specialMenu-menu_img img {
        height: 500px;
    }
}
@media screen and (max-width: 1028px){
    .chef__container{
        width:100%;
        /* margin:auto; */
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    .app__specialMenu_menu_items{
        width: 100%;
        
    } 
}
@media screen and (max-width: 650px){
    .app__specialMenu-menu_img{
        width: 100%;
    }

    .app__specialMenu-menu_heading{
        font-size: 35px;
        line-height: 48.5px
    }

    .app__specialMenu-menu_img img{
        height: 520px;
    }
}



@media screen and (max-width: 375px){
    .chef__container{
        width:100%;
        margin:auto;
    }

    .app__specialMenu_menu_items{
        display: flex;
        justify-content: center;
        align-items: center;
    }
}